.search-panel
  &__container
    padding: 0 1.5rem !important

  &__block
    position: relative

  &__icon
    position: absolute
    top: 50%
    transform: translateY(-50%)
    margin-left: 0.75rem